---
import type { CollectionEntry } from 'astro:content';

import Icon from '../components/Icon.astro';

interface Props {
	project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
const imgObjectPos = typeof data.img_object_pos !== 'undefined' ? data.img_object_pos : '50% 50%';
---

<div class="card">
	<div class="description">{data.description}</div>
	{typeof data.img !== 'undefined' &&
	<img class="fadeout" src={data.img} alt={data.img_alt || ''} loading="lazy" decoding="async" />
	}
	<span class="title">{data.title}</span>
	{typeof data.play_link !== 'undefined' &&
	<a class="play" href={data.play_link} target="_blank">
		<span class="icon"><Icon icon="game-controller" size="1.33em" /></span>
		Play
	</a>
	}
	<a class="github" href={data.github_link} target="_blank">
		<span class="icon"><Icon icon="github-logo" size="1.33em" /></span>
		GitHub
	</a>
</div>

<style define:vars={{imgObjectPos: imgObjectPos}}>
	.card {
		display: grid;
		grid-template: auto 1fr auto / auto auto 1fr auto;
		height: 22rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
	}

	.description {
		grid-area: 2 / 1 / 3 / 5;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		z-index: 0;
		opacity: 1;
	}

	.title {
		grid-area: 1 / 4 / 2 / 5;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-999);
		color: var(--gray-200);
		border-radius: 0.9375rem;
	}

	a, a:visited, a:hover, a:active {
		text-decoration: none;
	}

	a:hover {
		box-shadow: var(--shadow-md);
	}


	.github {
		text-align: center;
		grid-area: 3 / 2 / 4 / 3;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-200);
		color: var(--gray-999);
		border-radius: 0.9375rem;
	}

	.icon {
		vertical-align: text-bottom;
	}

	.play {
		grid-area: 3 / 1 / 4 / 2;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--gray-200);
		color: var(--gray-999);
		border-radius: 0.9375rem;
	}

	img {
		grid-area: 1 / 1 / 4 / 5;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: var(--imgObjectPos);
		opacity: 1;
		transition: all 200ms ease-out;
		z-index: 1;
	}

	img:hover {
		opacity: 0.1;
		transition: all 200ms ease-in;
	}
</style>
